@model IEnumerable<_1721050522_Trinh_Thu_Huong_BTL_LTQL.Models.BANGCHAMCONG>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Songaycong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Songaydilam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Songayvangmat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenNhanVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Songaycong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Songaydilam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Songayvangmat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNhanVien }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNhanVien }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNhanVien })
        </td>
    </tr>
}

</table>
