@model IEnumerable<_1721050522_Trinh_Thu_Huong_BTL_LTQL.Models.CONGTAC>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaCT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CongViec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiLamViec)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaCT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CongViec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiLamViec)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaNV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaNV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaNV })
        </td>
    </tr>
}

</table>
