@model _1721050522_Trinh_Thu_Huong_BTL_LTQL.Models.DUAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DUAN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CHITIETDUANs.TenDuAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHITIETDUANs.TenDuAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenDuAn }) |
    @Html.ActionLink("Back to List", "Index")
</p>
